body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    color: #c2c2c2;
}
main {
    width: 1100px;
    margin: 0 auto;
   
}
/*---поиск---*/
.search {
    border: none;
    background: none;
    width: 90%;
    margin-top: 10px;
    height: auto;
    color: #ec5a62;
    font-weight: bold;
    font-size: 80px;
}
::-webkit-input-placeholder { /* использовать свойства для изменения вида текста,  */
  color: #c2c2c2;
}
.button img {
    width: 60px;
}

.navigation li:hover {
	background-color:rgba(118,117,128,0.1);
    color:#ec5a62;/*(цвет выделенного текста)*/
}
.navigation li{
    background-color:  rgba(118,117,128,0.05);
    list-style: none; /* прячем маркеры */
       
    
}
.navigation li { /*свойства для стиля меню */
     font-size: 180%;
    font-family: Arial, sans-serif;
	display:block;
    text-decoration: none;
    color: white;}


.Recent {
      
}
Popular{ 
    
}

Recent{ 
    
}